// Fonts

//Poppins
$font-pop-bold: 'poppinsBold';
$font-pop-semi-bold: 'poppinsSemiBold';
$font-pop-reg: 'poppinsReg';
$font-pop-light: 'poppinsLight';

//Campton
$font-camp-med: 'camptonMedium';

//Border Radius
$main-border-radius: 50px;
