<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="img/core-img/favicon.ico">
  <link rel="stylesheet" href="css/core-style.css">
  <title>{{ title }}</title>
</head>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/category.js"></script>
<!--<script type="text/javascript" src="js/app.js"></script>-->
<body>

<header class="container">
  <ul class="logo">
    <li><a href="index.php"><img src="img/core-img/logo.svg" alt="logo"></a></li>
    <li><a href="index.php">E-Shop</a></li>
  </ul>

  <ul class="menu">
    <li><a href="#">Men</a></li>
    <li><a href="#">Women</a></li>
    <li><a href="#">Kids</a></li>
  </ul>
  <ul class="right-menu">
    <li><a href="#"><img src="img/core-img/search.svg" alt="search"></a></li>
    <li><a href="index.php?path=order/index"><img src="img/core-img/cart.svg" alt="cart"></a></li>
    <li><a href="auth.php"><img src="img/core-img/avatar.svg" alt="avatar"></a></li>
  </ul>
</header>

<ul>
  {% for category in categories %}
  <li>
    <a href="/categories/?id={{ category.id_category }}" link="{{ category.id_category }}" class="category-link">{{
      category.name }}</a>
  </li>
  {% endfor %}
</ul>

<div>
  <a href="/user/">Личный кабинет</a>
</div>
